.account-main-section{
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}

/* --- Account Left --- */
.account-left{
    position: sticky;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    overflow: hidden;
    overflow-y: auto;
    flex: 0 1 300px;
    width: 300px;
    background-color: var(--color10);
    box-shadow: 0px 4px 25px var(--black-100);
    padding-bottom: 50px;
}


/* --- Profile left pic --- */
.account-left-pic{
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    white-space: nowrap;
    width: 100%;
    background: var(--color10);
    position: sticky;
    top: 0;
    z-index: 2;
}

.account-left-pic::after{
    content: " ";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: calc(100% - 20px);
    transform: translateX(-50%);
    height: 1px;
    background-color:var(--color11);
}

.account-left-pic .alp-img{
    width: 45px;
    height: 45px;
    flex: 0 0 45px;
    border-radius: 50%;
    margin-right: 8px;
}

.account-left-pic svg{
    width: 45px;
    height: 45px;
    object-position: center;
    object-fit: contain;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50px;
    background: var(--color1-300);
    border: 1px solid var(--color11);
}

.account-left-pic .alp-data .alp-name-lable{
    font-size: 14px;
    font-weight: 500;
    color: var(--color3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-left-pic .alp-data .alp-email-lable{
    color: var(--color4);
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* --- Side menu --- */
.smb-menu-bx .account-left-pic{
    position: static;
    background-color: var(--color1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: 0.3s all 0.55s ease;
}

.side-menu-bx.active .account-left-pic{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
/* --- Side Menu --- */


/* --- Account menu bx --- */
.account-menu-bx{
    padding-left: 10px;
    margin-top: 15px;
}

.account-menu-bx .amb-link{
    position: relative;
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    font-size: 15px;
    margin-bottom: 3px;
    color: var(--color3);
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
    transition: background-color 0.3s ease-in-out;
}

.account-menu-bx .amb-link svg{
    position: relative;
    top: -1px;
    width: 20px;
    height: 20px;
    object-position: center;
    object-fit: contain;
    margin-right: 10px;
}

.account-menu-bx .amb-link:hover,
.account-menu-bx .amb-link.active{
    background-color: var(--black-200);
    color: var(--white);
}

.account-menu-bx .amb-link::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: calc(100% - 10px);
    background-color: var(--color5);
    background-image: linear-gradient(-45deg, var(--color5), var(--color6), var(--color7), var(--color8), var(--color9));
    border-radius: 50px 0 0 50px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.account-menu-bx .amb-link.active::after{
    opacity: 1;
}

.account-menu-bx .amb-link .amb-num{
    position: absolute;
    left: 24px;
    top: 5px;
    z-index: 1;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    background-color: var(--color2);
    display: block;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 11px;
}

/* --- Account Right --- */
.account-right{
    flex: 1 0 calc(100% - 300px);
    width: calc(100% - 300px);
    padding: 0 15px;
}

.account-menu-item-bx{
    width: 100%;
    /* max-width: 992px; */
    /* margin: auto; */
    margin-top: 15px;
    padding-bottom: 100px;
}

.amib-992-width{
    width: 100%;
    max-width: 992px;
    margin: auto;
}

.amib-900-width{
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.amib-768-width{
    width: 100%;
    max-width: 768px;
    margin: auto;
}

.amib-576-width{
    width: 100%;
    max-width: 576px;
    margin: auto;
}

.amib-i-header{
    font-size: 18px;
    font-weight: 500;
    color: var(--color3);
    margin-bottom: 10px;
}

.amib-i-cancel{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px 4px;
    font-size: 14px;
    color: var(--color3);
    text-transform: capitalize;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid var(--white-300);
    background-color: var(--color1);
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    float: right;
}

.amib-i-cancel:hover{
    border-color: var(--red);
    color: var(--red);
}

.amib-i-header svg{
    position: relative;
    top: -2px;
    width: 24px;
    height: 24px;
    object-position: center;
    object-fit: contain;
    margin-right: 5px;
}

.amib-i-sublable{
    color: var(--color4);
    font-size: 14px;
}

.amib-item{
    padding: 20px;
    border-radius: 16px;
    background-color: var(--color10);
}

.amib-item-bg-none{
    background-color: transparent;
}

.amib-save-btn-bx{
    margin-top: 25px;
}

.amib-save-btn-bx .lsb-loader-btn,
.amib-save-btn-bx .common-submit-btn{
    max-width: 200px;
    display: block;
}


/* --- amib inner tabbx start --- */
.amib-i-tab{
    display: none;
}

.amib-i-tab.active{
    display: block;
}

.amib-inner-tabbx{
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    margin: 15px 0;
}

.amib-inner-tabbx .ait-link{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 7px;
    font-size: 14px;
    color: var(--color3);
    text-transform: capitalize;
    cursor: pointer;
    margin-right: 5px;
    background-color: var(--color10);
    border: 1px solid var(--color11);
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.amib-inner-tabbx .ait-link:hover{
    background-color: var(--color2-200);
    color: var(--white);
    border-color: var(--color2);
}

.amib-inner-tabbx .ait-link.active{
    border-color: var(--color2);
    background-color: var(--color2);
    color: var(--white);
}

.amib-inner-tabbx .ait-link:last-child{
    margin-right: 0px;
}

.amib-inner-tabbx .ait-link svg{
    position: relative;
    top: -1px;
    width: 18px;
    height: 18px;
    object-position: center;
    object-fit: contain;
    margin-right: 5px;
}
/* --- amib inner tabbx end --- */


/* --- Wallet page css start --- */
.wallet-amount-bx{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 16px;
    background-image: linear-gradient(45deg, rgb(255 225 208), rgb(255 205 211));
}

.wallet-amount-bx .walletgrapics{
    position: absolute;
    right: 0;
    bottom: calc(100% - 60px);
    width: 200px;
    z-index: 0;
}

.wallet-amount-bx > *{
    position: relative;
    z-index: 1;
}

.wallet-amount-bx .wab-data-bx .wdb-money{
    color: var(--color8);
    font-weight: 500;
    font-size: 36px;
}

.wallet-amount-bx .wab-data-bx .wdb-lable{
    color: var(--color8);
    font-weight: 300;
}


.wallet-amount-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallet-amount-bx .add-money-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border-radius: 50px;
    width: fit-content;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    outline: none;
    cursor: pointer;
    color: var(--white);
    border: none;
    background-color: var(--color2);
    background-image: linear-gradient(-45deg, var(--color7), var(--color5));
    background-size: 200% 200%;
    background-position: center left;
    transition: background-position 0.3s ease-in-out, transform 0.3s ease;
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin: 0 5px;
}

.wallet-amount-bx .add-money-btn.withdrawal-btn{
    background-image: linear-gradient(-45deg, var(--green), var(--green-700));
}

.wallet-amount-bx .add-money-btn:last-child{
    margin-right: 0;
}
.wallet-amount-bx .add-money-btn:first-child{
    margin-left: 0;
}

.wallet-amount-bx .add-money-btn:hover{
    background-position: center right;
}

.wallet-amount-bx .add-money-btn:active{
    transform: scale(0.95);
}

.wallet-amount-bx .add-money-btn svg{
    width: 26px;
    height: 26px;
    object-fit: contain;
    object-position: center;
    margin-right: 5px;
}

.amib-loadmoney-bx{
    display: flex;
    justify-content: center;
}

.amib-loadmoney-bx > *{
    flex: 0 1 280px;
}

.amib-loadmoney-bx > *:last-child{
    flex: 0 1 calc(100% - 280px);
}

.loadmoney-data-bx{
    padding: 15px;
    border-radius: 15px;
    background-color: var(--color1);
    margin-top: 10px;
}

.loadmoney-data-bx img{
    display: block;
    max-width: 280px;
    width: 100%;
    margin: auto;
}

.loadmoney-data-bx .ldb-data-item{
    font-size: 12px;
    color: var(--color8);
    padding: 5px 0;
}

.loadmoney-data-bx .ldb-data-item span{
    font-size: 14px;
    color: var(--white);
    display: block;
    margin-top: -2px;
}

/* --- Wallet page css end --- */


/* --- Notifications page css strat --- */
.nlb-outer{
    margin-bottom: 15px;
}

.nlb-outer:last-child{
    margin-bottom: 0;
}

.nlb-outer-label{
    font-size: 14px;
    font-weight: 400;
    color: var(--color3);
    margin-bottom: -0px;
}

.nlb-item{
    position: relative;
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid var(--color11);
    cursor: pointer;
}

.nlb-item.nlb-new::after{
    content: " ";
    position: absolute;
    left: 30px;
    top: 17px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color2);
    background-image: linear-gradient(-45deg, var(--color5), var(--color6), var(--color7), var(--color8), var(--color9));
}

.nlb-item:last-child{
    border-bottom: none;
}

.nlb-item .nlb-icon{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    background-color: var(--color11);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.nlb-item:hover .nlb-icon{
    color: var(--white);
    background-color: var(--color2);
}

.nlb-item .nlb-data .nlb-lable{
    color: var(--color3);
    font-size: 16px;
    font-weight: 400;
}

.nlb-item .nlb-data .nlb-text{
    color: var(--color4);
    font-size: 14px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/* --- Notifications page css strat --- */


@media screen and (max-width:992px) {
    .account-main-section{
        flex-direction: column;
    }

    .account-left{
        padding: 0;
        flex: initial;
        width: 100%;
        max-width: 100%;
        height: auto;
        z-index: 11;
        border-bottom: 1px solid var(--black);
    }

    .account-left .account-left-pic{
        display: none;
    }

    .account-menu-bx{
        padding: 10px 5px 0 5px;
        margin-top: 0;
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        transition: overflow-x 0.3s ease-in-out;
    }

    .account-menu-bx .amb-link{
        white-space: nowrap;
        margin: 0;
        border-radius: 8px 8px 0 0;
        margin: 0 3px;
        display: inline-block;
    }

    .account-menu-bx .amb-link::after{
        width: calc(100% - 10px);
        height: 4px;
        right: inherit;
        top: inherit;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        border-radius: 50px 50px 0 0;
    }

    .account-right{
        width: 100%;
        flex: auto;
    }

}

@media screen and (max-width:768px) {
    .amib-loadmoney-bx{
        flex-direction: column;
    }
    
    .amib-loadmoney-bx > *{
        width: 100%;
        flex: 0 1 100%;
    }
}

@media screen and (max-width:576px) {
    .amib-item{
        padding: 0px;
        border-radius: 0px;
        background-color: transparent;
    }

    .wallet-amount-bx{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 15px 10px;
    }

    .wallet-amount-bx .wab-data-bx{
        margin-bottom: 20px;
    }

    .wallet-amount-btns{
        width: 100%;
        justify-content: space-between;
    }

    .wallet-amount-bx .add-money-btn{
        /* margin-bottom: 20px; */
        margin-top: 0;
    }

    .wallet-amount-bx .walletgrapics{
        right: -14px;
        bottom: 14px;
        width: 220px;
    }

    .loadmoney-data-bx {
        background-color: var(--color10);
    }
    
}