/* --- Commun Form Css --- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.signinup-group {
    position: relative;
    margin: 0px 0 15px;
}

.signinup-group select,
.signinup-group textarea,
.signinup-group input {
    font-weight: 400;
    display: block;
    color: var(--white);
    border: 0;
    font-size: 16px;
    background-color: var(--color10);
    border: 1px solid var(--color11);
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.signinup-group select[disabled],
.signinup-group textarea[disabled],
.signinup-group input[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

/* .signinup-group select option:first-child {
    font-weight: bold;
    color: red;
    opacity: 0;
} */

.signinup-group.sgli select,
.signinup-group.sgli input{
    padding-left: 50px;
}

.signinup-group.sgri input,
.signinup-group.sgri select{
    padding-right: 40px;
}

.signinup-group input[type="password"] {
    padding: 10px 40px 10px 10px;
}

.signinup-group textarea{
    min-height: 80px;
}

.signinup-group.sg-150-textarea textarea{
    min-height: 150px;
}

.signinup-group .twl-lable{
    display: block;
    text-align: right;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
    color: var(--color4);
}

.signinup-group .group__label {
    font-size: 14px;
    color: var(--color3);
    font-weight: 400;
    margin: 0;
    margin-bottom: 2px;
    margin-left: 5px;
}

.signinup-group .group__label span{
    font-size: 12px;
    color: var(--color4);
    margin-left: 5px;
}

.signinup-group.sgli .group_left_icon{
    position: absolute;
    left: 0px;
    top: 23px;
    height: 46px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.signinup-group.sgli .group_left_icon::after{
    content: " ";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: var(--color11);
}

.signinup-group .down-icon{
    border-style: solid;
    border-color: var(--white);
    border-width: 0px 2px 2px 0px;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    position: absolute;
    right: 14px;
    top: 38px;
    pointer-events: none;
}

.signinup-group select:hover,
.signinup-group textarea:hover,
.signinup-group input:hover {
    border-color: var(--white);
    box-shadow: 0 0 1px 1px var(--white);
}

.signinup-group textarea:focus,
.signinup-group textarea:not(:placeholder-shown),
.signinup-group select:focus,
.signinup-group select:not(:placeholder-shown),
.signinup-group input:focus,
.signinup-group input:not(:placeholder-shown) {
    border-color: var(--color2);
    box-shadow: 0 0 1px 1px var(--color2);
}

.signinup-group textarea:not(:placeholder-shown)~.group__label,
.signinup-group textarea:focus ~ .group__label,
.signinup-group select:not(:placeholder-shown)~.group__label,
.signinup-group select:focus ~ .group__label,
.signinup-group input:not(:placeholder-shown)~.group__label,
.signinup-group input:focus~.group__label {
   color: var(--white);
}

/* --- signinup-group-radio --- */
.signinup-group-radio {
    display: flex;
    align-items: center;
}

.signinup-group-radio label {
    cursor: pointer;
    position: relative;
    color: var(--color3);
    font-size: 14px;
    font-weight: 500;
    margin: 4px 0;
    margin-right: 8px;
    padding: 5px 16px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 50px;
    text-transform: capitalize;
    background-color: var(--color10);
    border: 1px solid var(--color11);
    transition: 0.3s ease-in-out;
}

.signinup-group-radio label:hover {
    background-color: var(--color2-200);
    color: var(--white);
    border-color: var(--color2);
}

.signinup-group-radio input:checked + label {
    border-color: var(--color2);
    background-color: var(--color2);
    color: var(--white);
}

/* --- otp-group --- */
.signinup-group.otp-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 20px;
}

.signinup-group.otp-group input{
    width: 45px;
    height: 45px;
    flex: 0 0 45px;
    margin: 0 5px;
    text-align: center;
    padding: 0;
}

/* --- Signinup group nots --- */
.signinup-group-nots{
    background: var(--color1-500);
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.signinup-group-nots span {
    font-size: 13px;
    color: var(--color3);
    font-weight: 500;
}

.signinup-group-nots p {
    color: var(--color4);
    font-size: 14px;
    margin: 5px 0;
    line-height: 1.5;
}


/* --- clear-input-icon --- */
.clear-input-icon{
    position: absolute;
    right: 0px;
    top: 23px;
    height: 46px;
    width: 40px;
    transition: 0.3s ease-in-out;
    padding: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.clear-input-icon:hover{
    color: var(--red);
}

.clear-input-icon svg{
    width: 100%;
    height: 100%;
}

/* ---
Error Input color css
--- */
.signinup-group.error-group textarea,
.signinup-group.error-group select,
.signinup-group.error-group input{
    border-color: var(--red);
    box-shadow: 0 0 1px 1px var(--red);
}

.signinup-group.error-group .group__label{
    color: var(--red) !important;
}

/* Form Error Msg */
.form-error-msg{
    display: block;
    text-align: right;
    color: var(--red);
    font-size: 14px;
    margin-bottom: -10px;
    margin-top: 5px;
}

.form-error-msg .fa{
    margin-right: 5px;
}

.form-error-msg::before{
    content: "\f071";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
}

/* --- Remember Input Checkbox --- */
.signinup-group-checkmark{
    margin: 10px 0 10px;
    width: fit-content;
}

.signinup-group-checkmark label{
    font-size: 16px;
    color: var(--color3);
    font-weight: 400;
    margin: 0;
    /* margin-left: 8px; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.signinup-group-checkmark label .checkmark-icon{
    position: relative;
    top: -1px;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    border-radius: 5px;
    margin-right: 8px;
    background-color: transparent;
    background-position: center;
    /* box-shadow: 0 0 0px 4px var(--color10) inset; */
    border: 2px solid var(--color11);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.signinup-group-checkmark label:hover .checkmark-icon{
    border-color: var(--color2);
}

.signinup-group-checkmark input{
    display: none;
}

.signinup-group-checkmark input:checked + label .checkmark-icon {
    background-image: url(../img/icons/check.svg);
    border-color: var(--color2);
    background-color: var(--color2);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    box-shadow: none;
}

/* --- Common File Upload Css --- */
.fileupload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px;
    width: 100%;
    min-height: 100px;
    border-radius: 16px;
    background-color: var(--color10);
    border: 1px solid var(--color11);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.fileupload .feud-img{
    width: 50px;
    height: 50px;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.fileupload .feud-lable{
    color: var(--color4);
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.fileupload .feud-lable span{
    color: var(--white);
    text-decoration: underline;
}

.fileupload:hover{
    border-style: solid;
    border-color: var(--color2);
    box-shadow: 0 0 1px 1px var(--color2);
}

.fileupload:hover .feud-img{
    opacity: 1;
}

.fileupload:hover .feud-lable{
    color: var(--white);
}

/* --- File Upload List --- */
.dataupload-list,
.fileupload-list{
    display: block;
    padding: 0;
}

.dataupload-list .dataupload-item,
.fileupload-list .fileupload-item{
    position: relative;
    padding: 12px;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px var(--black-700);
    background-color: var(--color10);
    border: 1px solid var(--color11);
    list-style-position: inside;
    padding-right: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fileupload-list .fileupload-item img{
    max-width: 150px;
    width: 100%;
    height: 90px;
    border-radius: 5px;
    object-fit: contain;
    object-position: center;
    background: var(--color1);
    box-shadow: 0 0 10px 0px var(--black-700) inset;
}

.fileupload-list .fileupload-item.filstn{
    list-style: none;
}

.dataupload-list .dataupload-item{
    list-style: none;
    padding-right: 40px;
    padding: 6px 12px;
}

.dataupload-list .dataupload-item .dui-item{
    font-size: 17px;
}

.dataupload-list .dataupload-item .dui-item span{
    color: var(--color4);
    font-size: 14px;
    margin-left: 2px;
    font-weight: 500;
}

.fileupload-list .fileupload-item .fileupload-play,
.dataupload-list .dataupload-item .clear-input-icon,
.fileupload-list .fileupload-item .clear-input-icon{
    top: 4px;
}

.fileupload-list .fileupload-item .fileupload-play{
    right: 45px;
}

.fileupload-video-popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--black-700);
    backdrop-filter: blur(5px);
}

.fileupload-video-popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--black-700);
    backdrop-filter: blur(5px);
}

.video-wraper-item{
    position: relative;
    width: 100%;
    max-width: 992px;
    height: 100%;
}

.video-wraper-item video{
    position: absolute;
    max-width: 100%;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    object-position: center;
    max-height: 100%;
    height: fit-content;
    border-radius: 5px;
}



/* --- Input Autofill Css --- */
.signinup-group input:-webkit-autofill,
.signinup-group input:-webkit-autofill:hover,
.signinup-group input:-webkit-autofill:focus,
.signinup-group input:-webkit-autofill:active {
    font-weight: 400 !important;
    font-size: 16px !important;
    caret-color: white !important;
    font-family: 'Cerebri', sans-serif !important;
    -webkit-text-fill-color: white !important;
    box-shadow: 0 0 1px 1px var(--color2), 0 0 0 100px var(--color10) inset !important;
    -webkit-box-shadow: 0 0 1px 1px var(--color2), 0 0 0 100px var(--color10) inset !important;
}

/* --- Sign In Up Site Info Css --- */
.sign-in-up-bx .site-info {
    font-size: 12px;
    color: var(--color4);
    text-align: justify;
    margin-top: 10px;
    line-height: 1.3;
    font-weight: 400;
}

.sign-in-up-bx .site-info span {
    display: inline-block;
    width: 12px;
}

.sign-in-up-bx .site-info a {
    display: inline-block;
    color: var(--color3);
    transition: all 0.3s ease-in-out;
}

.sign-in-up-bx .site-info a:hover {
    color: var(--color2);
}


/* --- login submit btn --- */
.common-submit-btn,
.lsb-loader-btn,
.login-submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;
    width: 100%;
    font-weight: 500;
    color: var(--color3);
    font-size: 17px;
    margin: 15px auto;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--color2);
    transition: all 0.3s ease-in-out;
    max-width: 450px;
    width: 100%;
}

.common-submit-btn[disabled],
.login-submit-btn[disabled]{
    opacity: 0.7; 
}

.common-submit-btn:hover,
.login-submit-btn:hover{
    color: var(--white);
}

.common-submit-btn:active,
.login-submit-btn:active{
    transform: scale(0.95);
}

/* --- lsb loader btn --- */
.lsb-loader-btn img{
    pointer-events: none;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    position: relative;
    margin-right: 8px;
    animation: rotation-btn 1s infinite linear;
    transition: all 0.3s ease-in-out;
}

@keyframes rotation-btn {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* --- White Form --- */

.form-white .signinup-group select,
.form-white .signinup-group textarea,
.form-white .signinup-group input {
    font-weight: 500;
    color: var(--black);
    background-color: var(--white);
}

.form-white .signinup-group select:hover,
.form-white .signinup-group textarea:hover,
.form-white .signinup-group input:hover {
    border-color: var(--color2);
    box-shadow: 0 0 1px 1px var(--color2);
}

.form-white .signinup-group select::placeholder,
.form-white .signinup-group textarea::placeholder,
.form-white .signinup-group input::placeholder{
    font-weight: 400;
    color: gray;
}

.form-white .clear-input-icon{
    top: 0px;
    color: #e32600;    
}

@media (max-width:576px) {
    .signinup-group-nots{
        background: var(--color2-200);
    }
}